# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini

# Windows XP
ehthumbs.db

# Logs
*.log

# Documentation
/site
/.grunt

# Project npm dependencies
/node_modules